// SECTION CURATED==================================
.curated {
    width: 100%;
    min-height: 700px;
    background-color: #EAF8FB;
    padding: 30px 0px;
    overflow: hidden;
    //display: none;
    &__top-content-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 520px) {
            display: block;
        }
    }
    &__sub-title {
        font-size: 16px;
    }
    &__title {
        font-family: 'Conv_SofiaProBold';
        font-size: 40px;
        color: #130F40;
        margin-top: 20px;
        @media (max-width: 545px) {
            font-size: 30px;
        }
    }
    &__button {
        width: 198px;
        height: 56px;
        padding: 8px 20px;
        border: none;
        font-size: 16px;
        background-color: #009D98;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
        transition: background-color .3s;
            &:hover {
                background-color: #056562;
            }
            @media (max-width: 520px) {
                margin-top: 15px;
            }
    }
} // END SECTION CURATED
.slider-city {
    font-size: 25px;
}